Package: com.82flex.wtvrbglauncher
Name: WTVRBGLauncher
Version: 0.0.2
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Lessica
Author: Lessica
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
