<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>通用</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.82flex.wtvrbgprefs</string>
			<key>key</key>
			<string>IsEnabled</string>
			<key>label</key>
			<string>启用</string>
			<key>PostNotification</key>
			<string>com.82flex.wtvrbgprefs/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>支持的输入法</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.82flex.wtvrbgprefs</string>
			<key>key</key>
			<string>IsWeTypeEnabled</string>
			<key>label</key>
			<string>微信输入法</string>
			<key>PostNotification</key>
			<string>com.82flex.wtvrbgprefs/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.82flex.wtvrbgprefs</string>
			<key>key</key>
			<string>IsBaiduEnabled</string>
			<key>label</key>
			<string>百度输入法</string>
			<key>PostNotification</key>
			<string>com.82flex.wtvrbgprefs/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.82flex.wtvrbgprefs</string>
			<key>key</key>
			<string>IsSogouEnabled</string>
			<key>label</key>
			<string>搜狗输入法</string>
			<key>PostNotification</key>
			<string>com.82flex.wtvrbgprefs/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.82flex.wtvrbgprefs</string>
			<key>key</key>
			<string>IsXunFeiEnabled</string>
			<key>label</key>
			<string>讯飞输入法</string>
			<key>PostNotification</key>
			<string>com.82flex.wtvrbgprefs/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>动画延迟时间</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>300</integer>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>900</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>9</integer>
			<key>defaults</key>
			<string>com.82flex.wtvrbgprefs</string>
			<key>key</key>
			<string>AnimationDelay</string>
			<key>label</key>
			<string>延迟时间</string>
			<key>PostNotification</key>
			<string>com.82flex.wtvrbgprefs/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>动画持续时间</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>300</integer>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>900</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>9</integer>
			<key>defaults</key>
			<string>com.82flex.wtvrbgprefs</string>
			<key>key</key>
			<string>AnimationInterval</string>
			<key>label</key>
			<string>持续时间</string>
			<key>PostNotification</key>
			<string>com.82flex.wtvrbgprefs/saved</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string>请支持我们的其他付费作品，谢谢！</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>「乌龙工作室」倾情献制</string>
			<key>action</key>
			<string>support</string>
		</dict>
	</array>
	<key>title</key>
	<string>语音转文字免跳转</string>
</dict>
</plist>
